<html>
    <head>
        <title>Forgot password</title>
        <script src="/check.js"></script>
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=false">
    </head>
    <body>
        <h1 id="signup-title">Forgot password</h1>
        <div id="formdiv">
        <form action="/forgotpass" method="POST">    
         <input type="email" name="uname" id="username" placeholder="Enter email" required><br>
        <input type="submit" value="Reset password" id="submit">
    </form>
        </div>
    </body>
</html>