<html>
    <head>
        <title>
            Blog Site
        </title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body id="landing"> 
     <h1 id="landing-title">Blog Site</h1>
     <div id="show-items">
     <div id="create-post">    
     <a href="/blog">Create/read blog post</a>
     </div>
     </div>          
    </body>
</html>